*{
padding: 0;
margin: 0;
box-sizing: border-box;

}.App {
  text-align: center;
}
form{
  margin: 30px;
}
.name-container{
  display: flex;
  justify-content: space-evenly;
}
.data-container input{
  min-width: 30vw;
  margin-bottom: 10px;
}
.name-container input{
  min-width:30vw;
}
.input-container{
  margin: 10px;
}
.input-container input{
  background-color:  rgb(203, 162, 241);
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.list-cointainer li{
  list-style: none;
}

form button{
  background-color: blueviolet;
  color: #ffffff;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 35vw;
  font-size: 17px;
}
form h1{
  text-align: left;
  margin-left: 10vw;
  margin-bottom: 20px;
}
ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blueviolet;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-container h4{
  margin: 5px;
}
.list-container p{
  margin: 5px;
}

.list-container li{
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 70%;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-container li button{
padding: 3px;
background-color: transparent;
border: none;
}
.list-container i{
  font-size: 17px;
}
.list-container .red i{
  color: red;
  margin-right: 12px;
}
@media screen and (max-width: 415px){
  .name-container{
    display: flex;
    flex-direction: column;
  }
}